* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #f3fcf7;
  --second-bg-color: #f3fafb;
  --text-color: #1d1d1f;
  --second-text-color: #06c167;
}

/*Navbar Section Start*/
/*Navbar Section Start*/

.header {
  background-color: var(--bg-color);
}
.navbar {
  position: sticky;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10%;
}
.logo {
  color: var(--second-text-color);
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}
.list li {
  display: inline-block;
  padding: 10px 30px;
  position: relative;
}
.list li a {
  color: var(--text-color);
  font-size: 18px;
}
.list li a.active {
  color: var(--second-text-color);
}

.list li a:hover {
  color: var(--second-text-color);
}

.list li a:hover::after,
.list li a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  height: 7px;
  width: 7px;
  background-color: var(--second-text-color);
  border-radius: 50%;
}

/*Navbar Section End*/
/*Navbar Section End*/

/*Home Section Start*/
/*Home Section Start*/
.home {
  height: 830px;
  width: 100%;
  position: relative;
}
.home-container {
  background-color: var(--bg-color);
  height: 70%; /* Cover half of the parent height */
  width: 100%; /* Full width of the parent */
  position: absolute;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
}
.home-content {
  margin-top: 120px;
  width: 50%;
}
.home-content h1 {
  font-size: 75px;
  font-weight: 600;
}
.home-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 20px;
  color: #1d1d1fbf;
}
.button {
  margin-top: 35px;
  display: inline-block;
  cursor: pointer;
  padding: 1.3rem 2.5rem;
  background-color: var(--second-text-color);
  color: white;
}
.button a {
  color: white;
}
.button i {
  font-size: 25px;
  position: relative;
  left: 7px;
  top: 5px;
}

.home-img .img-1 {
  width: 500px;
}
.home-img .dot {
  position: relative;
  right: 143px;
  bottom: -15px;
}
.rating {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 377px;
  padding: 18px 25px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 18px;
}
.rating .text {
  font-weight: 500;
  margin-right: 8px;
}
.rating i {
  color: var(--second-text-color);
}

.quality {
  position: absolute;
  display: inline-block;
  left: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 57px;
  top: 251px;
  padding: 10px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 18px;
}
.quality .text2 {
  font: 14px;
  font-weight: 500;
  color: #1d1d1f;
}
.quality img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.logo2 {
  width: 572px;
  height: 30.85px;
  position: absolute;
  bottom: 160px;
  left: 185px;
  display: flex;
  justify-content: space-between;
}
/*Home Section End*/
/*Home Section End*/

/*Service Section Start*/
/*Service Section Start*/
.service {
  padding: 2rem 10%;
  margin: 0 auto;
}
.service-container {
  height: 185px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1.8px solid #dbdbdb;
}
.service-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-box i {
  color: var(--second-text-color);
  padding: 25px;
  background-color: var(--second-bg-color);
  font-size: 35px;
  border-radius: 10px;
  margin-right: 20px;
}
.box-text {
  color: var(--text-color);
  line-height: 30.5px;
}
.box-text h4 {
  font-size: 18px;
  font-weight: 400;
}
/*Service Section End*/
/*Service Section End*/

/*Benefit Section Start*/
/*Benefit Section Start*/
.about {
  padding: 5rem 10%;
}
.about-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.about-img {
  height: 600px;
  width: 660px;
  background-color: var(--second-bg-color);
  position: relative;
}
.about-img img {
  position: absolute;
  left: 13%;

  width: 480px;
}
.about-content h1 {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 80px;
}
.about-content h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.about-content-2 .tick {
  display: flex;
  width: 70%;

  padding: 10px;
}
.about-content-2 .tick i {
  color: var(--second-text-color);
  font-size: 30px;
}
.about-content-2 .tick h4 {
  font-weight: 400;
  font-size: 18px;
  margin-left: 25px;
}
.about-container .dot {
  position: absolute;
  right: 500px;
  top: 73px;
  z-index: -1;
}
/*Benefit Section End*/
/*Benefit Section End*/

/*Stars Section Start*/
/*Stars Section Start*/
.about-img3 {
  height: 600px;
  width: 660px;
  background-color: var(--second-bg-color);
  position: relative;
}
.about-img3 .img3 {
  position: absolute;
  right: 0;
  width: 480px;
}
.star-content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  text-align: center;
}
.star-content-2 h2 {
  color: var(--second-text-color);
  font-size: 40px;
  font-weight: 600;
}
.star-content-2 p {
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 400;
}
/*Stars Section End*/
/*Stars Section End*/

/*Feature Section Start*/
/*Feature Section Start*/

.feature-text {
  text-align: center;
}
.feature h3 {
  font-size: 15px;
  font-weight: 500;
}
.feature h1 {
  font-size: 60px;
  font-weight: 500;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 10%;
  margin-top: 40px;
}
.feature-box {
  border: 1.5px solid var(--second-text-color);
  background-color: var(--second-bg-color);
}
.feature-box .img-box {
  width: 100%;
  height: 100%;
  min-height: 292px;
}
.feature-box img {
  width: 100%;
  height: 292.5px;
  object-fit: cover;
  display: block;
}
.feature-box-text {
  padding: 40px;
}
.feature-box-text h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 20px;
}
.feature-box-text p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #1d1d1f;
}
.feature-box-text a {
  color: var(--second-text-color);
  padding: 15px 20px;
  background-color: #e6f9f0;
  font-weight: 500;
  cursor: pointer;
}
/*Feature Section End*/
/*Feature Section End*/

/*Product Section End*/
/*Product Section End*/
.product {
  padding: 2rem 10%;
}
.product h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.product h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 40px;
}
.product-container {
  gap: -03px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card {
  width: 300px;
  height: 460px;
  border: 2px solid var(--second-text-color);
  text-align: center;
}
.product-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}
.product-card .star i {
  color: var(--second-text-color);
  margin-top: 20px;
  font-size: 20px;
}
.product-card h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.product-card .discount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
  font-size: 20px;
}
.product-card .discount .del {
  text-decoration: line-through;
  font-weight: 500;
  color: #767675;
}
.product-card .discount .real-p {
  color: var(--second-text-color);
  font-weight: 400;
}
.product-card .card-button {
  border: 2px solid var(--second-text-color);
  padding: 15px 40px;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: var(--second-text-color);
}
.product-card .card-button:hover {
  background-color: var(--second-text-color);
  color: var(--bg-color);
  cursor: pointer;
}

/*Product Section End*/
/*Product Section End*/
